.edit-modal form input{
    width: 80%;
}
.edit-modal form .input-group{
    display: flex;
    justify-content: center;
   width: 100%;
}
.edit-header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
dit-button{
    height: 30px;
    padding: 5px;
    font-weight: 700;
    transition: opacity .2s;
}
.edit-button:hover{
    opacity: 0.8;
}
.bio-edit{
    background: none;
    resize: none;
    margin-top: 2rem;
    width: 83%;
    min-height: 5rem;
    color: white;
}