*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: #000;
    color: #fff;
    font-family: "Segoe UI", "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-blue{
    color: #08a1f5;
}
.spinner-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px ;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
.logo-nav{
    width: 100%;
    margin-bottom: 1rem;
}
nav{
    width: 250px;
    padding-left: 2rem;
    height: 100vh;
    border-right: 2px solid grey;
    position: fixed;
}
.x-navigation-logo{
    width: 10%;
    height: 7%;
}
nav ul{
    height: 100%;
    padding-top: 2rem;
    list-style-type: none;
}
nav ul button{
    margin-bottom: 2rem;
}
nav ul li{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px;
    padding-left: 2%;
    cursor: pointer;
    transition: background-color .2s;
}
nav ul li:hover{
    background: #181818;
}
main{
    display: grid;
    grid-template-columns: 284px 2fr 1fr;
}
.cursor-default{
    cursor: default;
}
.p-1{
    padding: 1rem;
}
.flex{
    display: flex;
}
.button-disabled{
    opacity: 0.5;
    cursor: default !important;
}
.flex-wrap{
    flex-wrap: wrap;
}
.spinner-svg{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}
.fw-bold{
    font-weight: bold;
}
.button-rounded{
    border-radius: 30px;
    color: #000000;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 200px;
}
.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    background: rgba(194, 220, 255, 0.5);
}
.disabled{
    display: none;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    padding-left: 2rem;
}
.form-generic-container{
    display: flex;
    background: black;
    width: 45vw;
    height: 87vh;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
}
.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
}
.input-group {
    position: relative;
    width: 100%;
}
.input-group input {
    margin-top: 2rem;
    height: 3rem;
    width: 100%;
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
}
.input-group label {
    position: absolute;
    left: 10px;
    top: 2.9rem; /* alineado con tu input */
    transform: translateY(-50%);
    color: grey;
    background: none;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.2s ease;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 1rem;
    font-size: 14px;
    color: #08a1f5;
}
.form input:focus{
    outline: 1px solid #08a1f5;
}
.form input:focus::placeholder{
    margin-bottom: 20px;
    color: #08a1f5;
    font-size: 10px;
}
.form input::placeholder{
    padding: 1%;
}
.form h2{
    width: 100%;
}
.title-form{
    width: 55%;
    text-align: right;
}
.form-logo{
    height: 100%;
    width: 2rem;
}
.date-picker{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.date-picker select{
    width: 20%;
    background: black;
    color: #c0c0c0;
    padding: 3%;
    margin-right: 2rem;
    border-radius: 7px;
}
.date-picker select:focus{

    border-color: #08a1f5;
}
.w-100{
    width: 100% !important;
}
.w-80{
    width: 80% !important;
}
.text-grey{
    color: grey;
}
.text-red{
    color: red;
}
.fw-small{
    font-size: 12px;
}
.last-input{
    margin-bottom: 1rem;
}
.close{
    width: 30px !important;
    height: 30px !important;
    background: none;
    border-radius: 30px;
    color: white;
    border: none !important;
    cursor: pointer;
    margin-left: auto;
    transition: color .2s;
    padding: 0 !important;
}
.cursor-pointer{
    cursor: pointer;
}

.close:hover{
    background: #181818;
}
.mb-3{
    margin-bottom: 3rem;
}
.button-next-form{
    opacity: .7;
    width: 60%;
    cursor: default;
}
.button-next-form-active{
    opacity: 1;
    width: 60%;
    cursor: pointer;
}
.invalid:focus{
    outline: 1px solid red !important;
}
.form-advise{
    font-size: 12px;
    color: red;
}
.bg-white{
    background-color: white !important;
    color: #363636 !important;
}
.third{
    height: 100vh;
    position: fixed;
    right: 10px;
    width: 280px;
    padding: 1.2%;
}
.ml-1{
    margin-left: 1rem;
}
.mt-5{
    margin-top: 5rem;
}
.search{
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    color: grey;
    display: flex;
    align-items: center;
}
.search input{
    color: grey;
    background: none;
    outline: none;
    border: none;
}
.relevant-people{
    margin-top: 2rem;
    border: grey 1px solid;
    border-radius: 8px;
    padding: 2%;
    display: grid;
}
.happening{
    border: 1px solid grey;
    margin-top: 5rem;
    border-radius: 8px;
}
.happening p{
    margin-top: 1rem;
    padding: 5%;

}
.happening p:hover{
    background: #181818;
}
@media (max-width: 1200px){
    .modal-compose{
        width: 80% !important;
    }
    main{
        grid-template-columns: 112px 2fr 1fr;
    }
    .logo-nav{
        text-align: center;
    }
    .x-navigation-logo{
        width: 26%;
        height: 7%;
    }
    nav ul li{
        margin-top: 2rem;
        text-align: center;
    }
    nav ul li span{
        font-size: 0;
        color: transparent;
        display: none;
    }
    .nav-button{
        width: 40px;
        height: 40px;

    }
    .username-nav{
        font-size: 0;
        color: transparent;
    }
    .email-nav{
        font-size: 0 !important;
        color: transparent !important;
    }
    button span{
        font-size: 0;
        color: transparent;
    }
    nav{
        position: fixed;
        width: 80px;
        place-items: end;
    }
}
@media (max-width: 1070px){
    .third{
       display: none;
    }
    nav{
        width: 120px;
    }
    main{
        grid-template-columns: 152px 2fr 1fr;
    }
}
@media (max-width: 800px){
    nav{
        width: 40px
    }
    main{
        grid-template-columns: 72px 2fr;
    }
    .feed-post{
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
    .feed-post button{
        width: 60%;
        place-self: center;
    }
}
@media (max-width: 500px) {
    nav{
        width: 40px;
    }
    main{
        grid-template-columns: 72pxpx 1fr;
    }
    .post-container{
        padding: 5% !important;
    }
    .feed-post button{
        width: 80%;
        place-self: start;
    }
}
@media (max-width: 400px) {
    .post-user{
        grid-template-columns: 1fr 11fr !important;

    }
    .post-email{
     color: transparent;
    }
    .post-username{
        font-size: 12px;
    }
    .feed-post{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    .feed-post button{
        grid-column-start: 2;
        grid-column-end: 3;
        place-self: center;
        width: 100%;
    }
}